<?xml version="1.0"?>
<plugin>
	<info id="ih.plugins.root" parentId="" lazyLoad="false"></info>
  
  <resource>
    <script path='./js/Plugins/root/rootPlugin.js'></script>
    <script path='./js/Plugins/root/RootDataModel.js'></script>
    <script path='./js/Plugins/root/RootViewController.js'></script>
	</resource>
	
	<extension-point>
		<child>./js/Plugins/home/</child>
    <child>./js/Plugins/products/</child>
	</extension-point>
</plugin>